/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* PROJECT START */

/* keyblade cursor */
* {
    cursor: url(https://cur.cursors-4u.net/games/gam-2/gam134.cur), auto !important;
}

body {
    overflow-y: hidden;
}

/* traveler scenes */
.prologue-container img {
    height: 100dvh;
    width: 48dvw;
}

.prologueImg {
    border-right: 2px dashed white
}

/* gifs */

#fireflies,
#crown,
#sword,
#wizardcat,
#twirlingbunny {
    width: 13rem;
    height: 12rem;
    margin-top: -12rem;
    padding-bottom: 1rem;
}

#sword {
    position: absolute;
    height: 12rem;
}

h3 {
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.story-text {
    margin: 0 auto;
    text-align: center;
    margin-top: 45dvh;
    width: 35%;
}

#dungeon {
    display: flex;
    background-color: rgb(0, 5, 25);
}

#traveler {
    display: flex;
    background-color: rgb(43, 84, 81);
}

#castle {
    display: flex;
    background-color: rgb(233, 209, 254);
}

#castle h3 {
    color: rgb(26, 24, 52);
}

#convo {
    display: flex;
    /* background-color: rgb(2, 11, 22); */
    background-color: rgb(5, 16, 32);
}

a {
    text-decoration: none;
}

button {
    position: relative;
    display: inline-block;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(29, 83, 53);
    position: relative;
    padding: 20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 10px 0 #090500;
    -moz-box-shadow: inset 0 1px 0 #ffffff, 0 10px 0 #090500;
    box-shadow: inset 0 1px 0 #ffffff, 0 10px 0 #090500;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

button:active {
    top: 10px;
    background-color: rgb(29, 83, 53);

    -webkit-box-shadow: inset 0 1px 0 #ffffff, inset 0 -3px 0 #090500;
    -moz-box-shadow: inset 0 1px 0 #ffffff, inset 0 -3pxpx 0 #090500;
    box-shadow: inset 0 1px 0 #ffffff, inset 0 -3px 0 #ffffff;
}

button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#traveler button {
    background-color: rgb(2, 30, 36);
}

#castle button {
    background-color: rgb(30, 35, 64);
}

/* fade in effect */
.fade-in {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .prologue-container {
    display: none;
} */

/* wizard scenes */

.wizard-container {
    display: none;
    flex-direction: column;
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXh2d3pxN2ZvaGltZDJjZTRmNXJ5b3hhMXU2bDhrM2UxZ3gxcmpnciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ygAaR0n5RsyAM/giphy.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
}

#chooseDoor h3 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.doorframe {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100dvw;
}

#mountaindoor,
#beachdoor,
#countrysidedoor {
    width: 16rem;
    height: 30rem;
    position: relative;
    border: 5px solid rgb(150, 118, 57);
    perspective: 1000px;
}

.frontdoor,
.backdoor {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.frontdoor {
    width: 17rem;
}

.backdoor {
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: -1;
}

.doorframe:hover .frontdoor {
    transform: rotateY(-90deg);
    transition: all 0.5s;
    transform-origin: left;
}

/* ominous door  */
.ominous-door {
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.ominous-door h3 {
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
}

.ominous-door img {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

/* marquee text */
.marquee-topcontainer {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 5%;
}

.marquee {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    font-family: "Pixelify Sans", sans-serif;
    padding: 24px 0;
    color: white;
    white-space: nowrap;
    animation: marquee 20s infinite linear;
}

.marquee-top:after {
    content: 'safe travels ! safe travels ! safe travels ! safe travels ! safe travels !';
    letter-spacing: 0.5rem;
}

.marquee-bottom:after {
    content: 'good luck ! stay hydrated ! don\'t eat strange plants ! keep a journal !';
    letter-spacing: 0.5rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}